[workspace]
members = ["shadow_derive"]

[package]
name = "rustot"
version = "0.4.1"
authors = ["Mathias Koch <mk@blackbird.online>"]
description = "AWS IoT"
readme = "README.md"
keywords = ["iot", "no-std"]
categories = ["embedded", "no-std"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/BlackbirdHQ/rustot"
edition = "2021"
documentation = "https://docs.rs/rustot"
exclude = ["/documentation"]

[lib]
name = "rustot"

[badges]
maintenance = { status = "actively-developed" }

[dependencies]
bitmaps = { version = "^3.1", default-features = false }
heapless = { version = "0.7.0", features = ["serde"] }
mqttrust = { version = "0.6" }
nb = "1"
serde = { version = "1.0.126", default-features = false, features = ["derive"] }
serde-json-core = { version = "0.4.0" }

minicbor = { version = "0.25", optional = true }
minicbor-serde = { version = "0.3.2", optional = true }

smlang = "0.5.0"
fugit-timer = "0.1.2"
shadow-derive = { path = "shadow_derive", version = "0.2.1" }
embedded-storage = "0.3.0"

log = { version = "^0.4", default-features = false, optional = true }
defmt = { version = "^0.3", optional = true }
bon = { version = "3.3.2", default-features = false }

[dev-dependencies]
native-tls = { version = "^0.2" }
embedded-nal = "0.6.0"
no-std-net = { version = "^0.5", features = ["serde"] }
dns-lookup = "1.0.3"
mqttrust_core = { version = "0.6", features = ["log"] }
env_logger = "0.9.0"
sha2 = "0.10.1"
ecdsa = { version = "0.13.4", features = ["pkcs8"] }
p256 = "0.10.1"
pkcs8 = { version = "0.8", features = ["encryption", "pem"] }
timebomb = "0.1.2"
hex = "0.4.3"

[features]
default = ["ota_mqtt_data", "provision_cbor"]

provision_cbor = ["dep:minicbor", "dep:minicbor-serde"]

ota_mqtt_data = ["dep:minicbor", "dep:minicbor-serde"]
ota_http_data = []

std = ["serde/std", "minicbor-serde?/std"]

defmt = ["dep:defmt", "mqttrust/defmt-impl", "heapless/defmt-impl"]

graphviz = ["smlang/graphviz"]
